* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header img {
    width: 475px;
    height: 190px;
    object-fit: cover;
    z-index: -1;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    min-width: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
  }
  
  .add-task {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 70px;
  }
  
  .add-task input[type="text"] {
    flex: 1;
    padding: 15px;
    border: 3px solid #0e1011c7;
    border-radius: 10px;
  }
  
  .add-task button {
    padding: 8px 16px;
    background-color: #af06e7;
    color: rgb(245, 245, 255);
    border: none;
    border-radius: 19px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eeeeee;
    font-weight: 900;
    font-size: medium;
    font-style: italic;
  }
  
  span {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
  }
  .task-list {
    min-width: 300px;
    max-width: 70%;
  }
  .completed-task {
    text-decoration: line-through;
    color: #999;
  }
  
  .delete-btn {
    padding: 8px 16px;
    background-color: #dc3545;
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .edit-btn {
    padding: 8px 16px;
    background-color: #1be914;
    color: rgb(245, 245, 245);
    border: 3px;
    border-radius: 10px;
    cursor: pointer;
  }